.git
.gitattributes
.gitignore
.env
.env.*
!.env.example
node_modules
vendor
public/build
public/hot
public/storage
docker-compose.yml
Dockerfile
.dockerignore
architecture.md
DESIGN.md
README.md
ticketing_mitra.sql
